header {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.pageBody {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#reset {
    height: 50px;
    width: 100px;
}

#colorPicker {
    height: 100px;
    width: 100px;
    border-style: none;
}

#EtchContainer {
    display: flex;
    flex-direction: column;
}

.rowContainer {
    display: flex;
}

.square {
    width: 30px;
    height: 30px;
    color: grey;
    background-color: grey;
    border-color: dimgrey;
    border-style: solid;
    border-width: thin;
}

footer {
    display: flex;
    justify-self: center;
    justify-content: center;
}

.footer-text {

}